<div class="wrapper fadeInDown">
          <div id="formContent">

                    <!-- Login Form -->
                    <form>
                              <input type="text"
                                     id="login"
                                     class="fadeIn second"
                                     name="login"
                                     placeholder="login">
                              <input type="text"
                                     id="password"
                                     class="fadeIn third"
                                     name="login"
                                     placeholder="password">
                              <input type="submit"
                                     class="fadeIn fourth"
                                     value="Log In">
                    </form>

                    <!-- Remind Passowrd -->
                    <div class="row">
                              <div class="col-6">
                                        <div >
                                                  <a class="underlineHover"
                                                     (click)="onRgstr()">Registration</a>
                                        </div>
                              </div>
                              <div class="col-6">
                                        <div style="padding-bottom: 20px ;">
                                                  <a class="underlineHover"
                                                     href="#">Forgot Password?</a>
                                        </div>
                              </div>
                    </div>

          </div>
</div>
