<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
        <div class="container h-100">
                <div class="row h-100 align-items-center">
                        <div class="col-12 text-center">
                                <h1 class="font-weight-light">תבדקו לפני שאתם משלמים</h1>
                                <p class="lead">הנסיון של אחרים זה הצעד הבא שלכם</p>
                        </div>
                </div>
        </div>
</header>

<!-- Page Content -->
<section class="py-5">
        <div class="container">
                <h2 class="font-weight-light text-center">?מה הסיפור שלנו</h2>
                <p class="text-center">כאן אכתוב את הרעיון הכללי של האתר , מאיפה זה התחיל ומדוע . מה הרעיון של האתר ובמה הוא בא לעזור כאן אכתוב את הרעיון הכללי של האתר , מאיפה זה התחיל ומדוע . מה הרעיון של האתר ובמה הוא בא לעזור כאן אכתוב את הרעיון הכללי של האתר , מאיפה זה התחיל ומדוע . מה הרעיון של האתר ובמה הוא בא לעזור </p>
        </div>
</section>
<section class="py-5">
        <div class="container">
                <h2 class="font-weight-light text-center">?מה הסיפור שלנו</h2>
                <p class="text-center">כאן אכתוב את הרעיון הכללי של האתר , מאיפה זה התחיל ומדוע . מה הרעיון של האתר ובמה הוא בא לעזור כאן אכתוב את הרעיון הכללי של האתר , מאיפה זה התחיל ומדוע . מה הרעיון של האתר ובמה הוא בא לעזור כאן אכתוב את הרעיון הכללי של האתר , מאיפה זה התחיל ומדוע . מה הרעיון של האתר ובמה הוא בא לעזור </p>
        </div>
</section>
<section class="py-5">
        <div class="container">
                <h2 class="font-weight-light text-center">?מה הסיפור שלנו</h2>
                <p class="text-center">כאן אכתוב את הרעיון הכללי של האתר , מאיפה זה התחיל ומדוע . מה הרעיון של האתר ובמה הוא בא לעזור כאן אכתוב את הרעיון הכללי של האתר , מאיפה זה התחיל ומדוע . מה הרעיון של האתר ובמה הוא בא לעזור כאן אכתוב את הרעיון הכללי של האתר , מאיפה זה התחיל ומדוע . מה הרעיון של האתר ובמה הוא בא לעזור </p>
        </div>
</section>
<div style="padding: 100px;padding-bottom: 300px;">
        <div class="flip">
                <a>
                        <div>
                                <button type="button"
                                        class="front"
                                        (click)="onStrat()">!התחילו</button>
                                <button type="button"
                                        class="back"
                                        (click)="onStrat()">זה כדאי</button>
                        </div>
                </a>
        </div>

</div>
