<div class="row">
   <div class="profile-card-6"
        [routerLink]=[id]>
      <img src={{college.img}}
           class="img img-responsive"
           style="width: 400px;">
      <div class="profile-name">{{college.name}}
      </div>
      <div class="profile-position">{{college.title}}</div>
      <div class="profile-overview">
         <div class="profile-overview">
            <div class="row text-center">
               <div class="col-4">
                  <h3>1</h3>
                  <p>Rank</p>
               </div>
               <div class="col-4">
                  <h3>50</h3>
                  <p>Matches</p>
               </div>
               <div class="col-4">
                  <h3>35</h3>
                  <p>Goals</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
