<section>
       <div class="container">
              <div class="row">
                     <div class="col-12"></div>
                     <div class="col-sm-5 col-md-6 col-12 pb-4">
                            <h1>Comments</h1>
                            <app-comment *ngFor="let c of comments"
                                         [comment]=c></app-comment>

                     </div>
                     <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
                            <!-- Need to add ngSubmit to sent the form to the server -->
                            <form #f="ngForm">
                                   <div class="form-group">
                                          <h4>Leave a comment</h4>
                                          <label for="message">Message</label>
                                          <textarea name="msg"
                                                    id="msg"
                                                    [(ngModel)]='comment.contents'
                                                    cols="30"
                                                    rows="5"
                                                    class="form-control"
                                                    style="background-color: rgb(255, 255, 255);"
                                                    maxlength="150"
                                                    minlength="5"
                                                    required
                                                    #c='ngModel'></textarea>
                                          <p *ngIf="!c.valid && c.touched">Implement to text area!</p>
                                   </div>
                                   <div class="form-group">
                                          <label for="name">Name</label>
                                          <input type="text"
                                                 name="name"
                                                 [(ngModel)]='comment.userName'
                                                 id="userName"
                                                 class="form-control"
                                                 required
                                                 minlength="2"
                                                 maxlength="20"
                                                 #n='ngModel'>
                                          <p *ngIf="!n.valid && n.touched">Implement to text area!</p>
                                   </div>
                                   <div class="form-group">
                                          <label for="email">Email</label>
                                          <input type="text"
                                                 name="email"
                                                 ngModel
                                                 id="email"
                                                 class="form-control">
                                   </div>
                                   <div class="form-group">
                                          <p class="text-secondary">If you have a <a href="#"
                                                    class="alert-link">gravatar account</a> your address will be used to display your profile picture.</p>
                                   </div>
                                   <div class="form-inline">
                                          <input type="checkbox"
                                                 name="check"
                                                 ngModel
                                                 id="checkbx"
                                                 class="mr-1">
                                          <label for="subscribe">Subscribe me to the newlettter</label>
                                   </div>
                                   <div class="form-group">
                                          <button type="button"
                                                  id="post"
                                                  class="btn"
                                                  (click)='checkF()'>Post Comment</button>
                                   </div>
                            </form>
                     </div>
              </div>
       </div>
</section>
