<div class="container">
   <div class="row">
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
         <div class="container">
            <div class="collapse navbar-collapse"
                 style="margin-left:70%;"
                 id="navbarResponsive">
               <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                     <a class="nav-link"
                        href="#">התחבר
                     </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link"
                        href="#">צור קשר</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link"
                        href="#">אודות</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link"
                        href="#">מכללות</a>
                  </li>
               </ul>
               <!-- Need to change the text to icon -->
               <span><a class="navbar-brand"
                     href="#"> Icon</a></span>
            </div>
         </div>
      </nav>
   </div>
   <div class="row">
      <router-outlet style="padding-top: 10%;"></router-outlet>
   </div>
</div>
